<footer class="FooterContainer">
  <section class="FooterIcons">
    <a href="liked"><img src="/public/images/LikedIcon.png" /></a>
    <a><img src="" /><img src="/public/images/ProfileIcon.png" /></a>
    <a><img src="" /><img src="/public/images/ChatIcon.png" /></a>
  </section>
</footer>
