<section class="swipeContainer">
  <img class="swipeImage" src="/public/images/placeholder.jpg" />
  <h2><%= %></h2>

  <section class="swipeButtons">
    <a><img src="/public/images/SkipIcon.png" /></a>
    <a><img src="/public/images/HeartIcon.png" /></a>
  </section>
</section>
