:root {
  --color-white: #fff;
  --color-stylepink: #fb2576;
  --color-stylepurple: #3f0071;
  --color-black: #131313;
  --color-shadow: rgba(0, 0, 0, 0.5);
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: var(--color-stylepurple);
}

a {
  text-decoration: none;
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

p {
  color: var(--color-black);
  font-family: "Poppins", sans-serif;
}

table {
  position: relative;
  left: 0%;
  margin: auto;
  text-align: center;
  border-collapse: collapse;
  width: 20em;
}

.TableSpacing {
  border-radius: 3em;
  border-collapse: separate;
  border-spacing: 0 1em;
}


.tdLike {
  color: var(--color-white);
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 1.2em;
  padding: 0.6em 0.4em 0.4em 0.4em;
}

.tableFooter {
  margin: 0%;
  width: 100%;
  height: 100%;
}

th {
  color: var(--color-black);
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 1em;
}

.trLike {
  border-radius: 1em;
  background-color: var(--color-stylepink);
  margin-top: 1em;
  margin-bottom: 1em;
}

.swipeContainer {
  left: 0%;
  margin: auto;
  max-width: 20em;
}

.swipeButtons {
  display: flex;
  left: 0;
  margin: auto;
  max-width: 18em;
  justify-content: space-between;
  padding-top: 1em;
  padding-bottom: 1em;
}

.swipeButtons img {
  max-width: 3em;
}

.swipeImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20em;
  height: auto;
  border-radius: 2em;
}

.headerContainer {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 1em 2em 0.5em 2em;
  margin: 0;
  background-color: none;
  box-shadow: 0 0.1em 2em var(--color-shadow);
}

header {
  margin-bottom: 2em;
}

.logoImage {
  width: 8em;
  height: auto;
}

.FooterContainer {
  position: fixed;
  bottom: 0%;
  width: 100%;
  height: 5em;
  background-color: var(--color-stylepink);
}

.FooterIcons {
  height: 100%;
}

.FooterIcons img {
  margin-top: 1em;
  max-width: 3em;
}

.active {
  background-color: var(--color-stylepurple);
}

.inactive {
  background-color: var(--color-stylepink);
}

.CenterText {
  left: 0%;
  margin: auto;
  text-align: center;
}

.LikedListIcon {
  width: 2em;
}

.a img:hover {
  transform: rotate(-15deg);
  transition: 1s ease;
}

.LikedListContainer {
  padding-top: 1em;
}

.ProfilePicture {
  width: 4em;
  border-radius: 2em;
}