:root {
  --color-white: #fff;
  --color-stylepink: #fb2576;
  --color-stylepurple: #3f0071;
  --color-black: #131313;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: var(--color-stylepurple);
}

a {
  text-decoration: none;
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

p {
  color: var(--color-black);
  font-family: "Poppins", sans-serif;
}

table {
  position: relative;
  left: 0%;
  margin: auto;
  text-align: center;
  border-collapse: collapse;
}

.TableSpacing {
  border-radius: 3em;
  border-collapse: separate;
  border-spacing: 0 1em;
}

td {
  color: var(--color-white);
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 1.2em;
  padding: 1em 1em 1em 1em;
}

th {
  color: var(--color-black);
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 1em;
}

tr {
  border-radius: 1em;
  background-color: var(--color-stylepink);
  /* box-shadow: 0 0.2em 0.8em var(--color-black); */
  margin-top: 1em;
  margin-bottom: 1em;
}

.swipeContainer {
  left: 0%;
  margin: auto;
  max-width: 20em;
}

.swipeButtons {
  display: flex;
  left: 0;
  margin: auto;
  max-width: 18em;
  justify-content: space-between;
  padding-top: 1em;
  padding-bottom: 1em;
}

.swipeButtons img {
  max-width: 3em;
}

.swipeImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20em;
  height: auto;
  border-radius: 2em;
}

.headerContainer {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 1em 2em 1em 2em;
  margin: 0;
  background-color: var(--color-white);
}

.logoImage {
  width: 8em;
  height: auto;
}

.FooterContainer {
  position: fixed;
  bottom: 0%;
  width: 100%;
  height: 5em;
  background-color: var(--color-stylepink);
}

.FooterIcons {
  display: flex;
  justify-content: space-around;
}

.FooterIcons img {
  margin-top: 1em;
  max-width: 3em;
}

.CenterText {
  left: 0%;
  margin: auto;
  text-align: center;
}

.LikedListIcon {
  width: 2em;
}

.LikedListContainer {
  padding-top: 1em;
}
